<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <!-- Texto entrar -->
          <h1 class="text-center mb-3">Login</h1>

          <!-- formulário -->

          <!-- label usuário -->
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input
              class="form-control"
              type="text"
              name="usuario"
              id="usuario"
              placeholder="Insira seu usuario"
            />
          </div>
          <!-- /label usuário -->

          <!-- label senha -->
          <div class="form-group">
            <label for="usuario">Senha</label>
            <input
              class="form-control"
              type="text"
              name="senha"
              id="senha"
              placeholder="Insira a senha"
            />
          </div>
          <!-- /label senha -->

          <!-- botão -->
          <div class="d-flex justify-content-center">
            <button class="btn-success" type="submit">Entrar</button>
          </div>
          <!-- /botão -->

          <hr class="mt-5 mb-5" />
          <!-- margin-top/ margin-bottom -->

          <p class="text-center">
            Ainda não tem uma conta?
            <a href="">Cadastre-se</a>
          </p>
        </div>
      </div>
    </div>

    <!-- imagem -->
    <div class="col-md-6" id="img-bg"></div>
  </div>
</div>
